.App {
    font-family: Arial, sans-serif;
    text-align: center;
    width: 95%;
    margin: auto;
}

.mainContainer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.btns{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media Queries for Responsive Design */
@media (max-width:769px) {
    .mainContainer {
      display: flex;
      flex-direction: column;
    }
}

@media  (min-width:769px) and (max-width:1000px) {
    .mainContainer {
      display: flex;
      flex-direction: column;
    }
}
@media (min-width: 1500px) {
    .App{
      width: 1300px;
      margin: auto;
    }
}